* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
}

.calculator {
    background: #444;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 10px 10px 18px #111;
}

.calculator .display {
    width: 100%;
    padding: 20px;
    font-size: 25px;
    text-align: right;
    background: #222;
    border: none;
    color: #fff;
}

.calculator .keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 25px;
}

.keys button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 25px;
    font-weight: 500;
    background: #555;
    color: #fff;
    border: none;
    transition: 0.3s;
    box-shadow: 5px 5px 10px #222, inset -5px -5px 7px #111;
}

.keys button:hover {
    background: #666;
    box-shadow: 5px 5px 10px #111, inset -5px -5px 5px #444;
}

.container h1{
    color: #fff;
}

.theme-selector{
    color: #fff;
}